body {
  margin: 0;
  display: grid;
  height: 100vh;
  place-items: center;
  background: #000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100vw;
  height: 100vh;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  font-family: sans-serif;
  transition: background 0.3s;
}
